@import url('https://fonts.googleapis.com/css?family=Prompt');

* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

h1 {
    font-family: "Prompt", sans-serif;
    font-size: 35px;
    font-weight: 600;
}

h1::after {
    content: url("../img/blue-circle.png");
}

h2 {
    font-family: "Prompt", sans-serif;
    font-size: 30px;
    font-weight: 600;
}

h2::after {
    content: url("../img/blue-circle.png");
}

.navbar-brand {
    position: relative;
    bottom: 50px;
}

.navbar-brand img {
    margin-left: 60px;
}

.background-top {
    background: url("../img/background-top.png") center;
    text-align: center;
    min-height: 760px;
    width: 100%;
    background-size: 100%;

    /*для нормализации для всех расширений экрана*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.navbar-fixed-bottom {
    padding: 5px 0 5px 0;
}

.navbar-nav.navbar-right:last-child {
    margin-right: 55px;
}

.navbar-inverse .navbar-nav > li > a {
    color: #ffffff;
    font-size: 18px;
    font-family: "Prompt", sans-serif;

}

.background-middle {
    background: url("../img/background-middle.png") center;
    text-align: center;
    min-height: 2000px;
    width: 100%;
    background-size: 100%;

    /*для нормализации для всех расширений экрана*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.background-middle h1 {
    margin-top: 73px;
}

.text-middle {
    font-family: "Prompt", sans-serif;
    font-size: 18px;
    margin-top: 70px;
}

/*.col-lg-offset-5 {*/
    /*margin-left: 37.666667%;*/
/*}*/

.icons {
    margin-top: 85px;
    margin-right: -55px;
    font-family: "Prompt", sans-serif;
    font-size: 16px;
}

.icons .btn-lg {
    border: 3px solid #e64138;
    border-radius: 100px;
    background-color: #ffffff;
    padding: 18px 62px;
    font-size: 19px;
}

.icons .btn-lg:hover {
    border: 3px solid #e64138;
    background-color: #e64138;
    color: #ffffff;
}

.icons img {
    margin-bottom: 50px;
}

.icons p {
    margin-bottom: 30px;
}

.clearfix {
    clear: both;
}
.layer {
    margin-top: 150px;
    margin-right: -55px;
    font-family: "Prompt", sans-serif;
}
